$secondary_color: rgb(241, 97, 125);

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3rem;
  margin-top: 2em;
  margin-bottom: 0;
  border-color: $secondary_color;
  border-top: 2px $secondary_color solid;
  text-align: center;
  padding: 1rem;
}
.footer_copy {
  color: whitesmoke;
}
.footer_logo {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 30px;
}
