<!-- TITLE DIV ---------------------------------------------------------------------->

<div class="title_div">
  <h1 class="name_announce highlighted_text">PROJECTS</h1>
  <h2 class="tagline"><span>It ain't much, but it's honest work</span> </h2>
  <br>
</div>
  <div class="project_list">
    <div class="img_container">
      <img src="https://private-user-images.githubusercontent.com/6477128/318112676-b49ea5b1-e74b-4cd3-b771-84a33c7a4a9e.gif?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTE3Mzc2MzIsIm5iZiI6MTcxMTczNzMzMiwicGF0aCI6Ii82NDc3MTI4LzMxODExMjY3Ni1iNDllYTViMS1lNzRiLTRjZDMtYjc3MS04NGEzM2M3YTRhOWUuZ2lmP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MDMyOSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDAzMjlUMTgzNTMyWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9NDIwOGZlNmI4ZDVjZWMyNTlkOWYzMWYwYzAyZTQ2MDk0ZDUyOWE4NzA5MmJjNTAyMjE2MzgyNjA3NTZkZTgwOCZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.Zv-G60P7ADEhs7GxfGRQMg9kxV_PK-cpel34AJCwUYA" alt="project image">
    </div>
    <div class="text_container">
      <a href="https://github.com/blaxstar/starlib" target="_blank"><h2 class="highlighted_text">STARLIB</h2></a>
      <br>
      <p>A collection of components and tools for desktop applications. A project consisting of code written over the years. If you <a href="https://github.com/blaxstar/starlib" target="_blank">navigate the code</a>, you'll see a lot of Object Oriented code, making use of things like polymorphism and custom, complex data structures. Written in AS3 with the Harman AIR compiler.</p>
    </div>
    
    <div class="img_container">
      <img src="https://private-user-images.githubusercontent.com/6477128/316954639-f2f0be82-cd07-41fb-a46b-5d80b173fe1c.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTE3MzgyODUsIm5iZiI6MTcxMTczNzk4NSwicGF0aCI6Ii82NDc3MTI4LzMxNjk1NDYzOS1mMmYwYmU4Mi1jZDA3LTQxZmItYTQ2Yi01ZDgwYjE3M2ZlMWMucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MDMyOSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDAzMjlUMTg0NjI1WiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9YTA3OWU2MGMyMTdmZWU0NjQ3NTBmMjA0YzUzOTc2YmJmNzdjYTJlODA3YjBiNzAzMDk3M2M2YTZjNDNiYjc2MCZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.PDMRAo3pyVfTSirp08iPJn249GqvlUXdNjXx2HhpCWo" alt="project image">
    </div>
    <div class="text_container">
      <a href="https://github.com/dyxribo/campus_maps_desktop" target="_blank"><h2 class="highlighted_text">CAMPUS MAPS DESKTOP</h2></a>
      <br>
      <p>An app for mapping and locating assets and locations within corporate buildings. Originally I wrote this app in Angular and typescript for my job to help people navigate the offices easier (we were updating maps manually with Visio everytime someone joined or left!). I ended up liking it so much that I went ahead and started the open source version in a faster development language (as in faster to develop, not performance). It's coming along; I had to manually create a Map data structure since it doesn't exist in AS3, but it was worth the effort. Anyway, go check it out!</p>
    </div>
    <div class="text_container">
      <a href="https://github.com/dyxribo/derondecamp.com" target="_blank"><h2 class="highlighted_text">DERONDECAMP.COM</h2></a>
      <br>
      <p>You're looking at it! I created this website some time ago, but stopped pushing commits for a while to focus on campus maps desktop. You can <a href="https://github.com/dyxribo/derondecamp.com" target="_blank">check out the code on my github</a>.</p>
    </div>
  </div>

