<!-- TITLE DIV ---------------------------------------------------------------------->

<div class="title_div">
  <h1 class="name_announce highlighted_text">PROJECTS</h1>
  <h2 class="tagline"><span>It ain't much, but it's honest work</span></h2>
  <br />
</div>
<div class="project_list">
  <section class="project_item">
    <div class="img_container">
      <a href="https://github.com/blaxstar/starlib" target="_blank"
        ><video
          autoplay
          loop
          alt="project preview"
          src="https://github.com/blaxstar/starlib/assets/6477128/2d4f1948-1da8-4192-92bc-82f2059c5f66"
        ></video
      ></a>
    </div>
    <div class="text_container">
      <a href="https://github.com/blaxstar/starlib" target="_blank">
        <h2 class="highlighted_text">STARLIB</h2>
      </a>
      <br />
      <p>
        A collection of components and tools for desktop applications. A project
        consisting of code written over the years. If you
        <a href="https://github.com/blaxstar/starlib" target="_blank"
          >navigate the code</a
        >, you'll see a lot of Object Oriented code, making use of things like
        polymorphism and custom, complex data structures. Written in AS3 with
        the Harman AIR compiler.
      </p>
    </div>
  </section>

  <section class="project_item">
    <div class="img_container">
      <a href="https://github.com/dyxribo/campus_maps_desktop" target="_blank"><img src="assets/img/campus_maps_desktop.webp" alt="project image" /></a>
    </div>
    <div class="text_container">
      <a href="https://github.com/dyxribo/campus_maps_desktop" target="_blank"
        ><h2 class="highlighted_text">CAMPUS MAPS DESKTOP</h2></a
      >
      <br />
      <p>
        An app for mapping and locating assets and locations within corporate
        buildings. Originally I wrote this app in Angular and typescript for my
        job to help people navigate the offices easier (we were updating maps
        manually with Visio everytime someone joined or left!). I ended up
        liking it so much that I went ahead and started the open source version
        in a faster development language (as in faster to develop, not
        performance). It's coming along; I had to manually create a Map data
        structure since it doesn't exist in AS3, but it was worth the effort.
        Anyway, go check it out!
      </p>
    </div>
  </section>

  <section class="project_item">
    <div class="img_container">
      <a href="https://github.com/dyxribo/derondecamp.com" target="_blank"><img src="assets/img/derondecamp_homepage.webp" alt="project image" /></a>
    </div>
    <div class="text_container">
      <a href="https://github.com/dyxribo/derondecamp.com" target="_blank"
        ><h2 class="highlighted_text">DERONDECAMP.COM</h2></a
      >
      <br />
      <p>
        You're looking at it! I created this website some time ago, but stopped
        pushing commits for a while to focus on campus maps desktop. You can
        <a href="https://github.com/dyxribo/derondecamp.com" target="_blank"
          >check out the code on my github</a
        >.
      </p>
    </div>
  </section>
</div>
