<!-- TITLE DIV ---------------------------------------------------------------------->

<div class="title_div">
  <h1 class="name_announce highlighted_text">PROJECTS</h1>
  <h2 class="tagline"><span>It ain't much, but it's honest work</span> </h2>
  <br>
</div>
  <div class="grid">
    <div class="img_container">
      <img src="https://private-user-images.githubusercontent.com/6477128/317475376-a2de3bb1-9510-4ae5-a625-93cad6914854.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTE2NjM0MzksIm5iZiI6MTcxMTY2MzEzOSwicGF0aCI6Ii82NDc3MTI4LzMxNzQ3NTM3Ni1hMmRlM2JiMS05NTEwLTRhZTUtYTYyNS05M2NhZDY5MTQ4NTQucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MDMyOCUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDAzMjhUMjE1ODU5WiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9ODZlNWFhMGU1NGYzY2ZmNTI2MTVkOGVkMDU1MDllYmZiMTMxMzk1Zjg1ZGFkY2E2MGQ0ODZlNjA0NDJmZGE2YyZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.G9Tr38T0WbQBsKerPSwUlHgz7TIiVEn7TlHp8HXCIvE" alt="project image">
    </div>
    <div>
      <h2>PROJECT I</h2>
      <br>
      <p>Project Description.</p>
    </div>
  </div>

