/* main color. used for background. */
$primary_color: rgb(37, 35, 35);
$secondary_color: rgb(241, 97, 125);
/* setup the page. montserrat as main font, sans-serif as fallback */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view_container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    padding: 10px;
  }

  .main {
    flex: 1;
    min-height: 50px;
  }

  .footer div {
    padding: 10px;
    border-color: $secondary_color;
    border-top: 2px $secondary_color solid;

    .footer_copy {
      color: $secondary_color;
    }

    .footer_logo {
      left: 10px;
      bottom: 5px;
      width: 30px;
    }

    text-align: center;
    padding: 1rem;
  }
}

/* set the color, and max out the height at all times. overflow-y to auto for autohide of scrollbar. */
html {
  background-color: $primary_color;
  min-height: 100vh;
  height: calc(100vh - 100px);
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
