<!-- TITLE DIV ---------------------------------------------------------------------->

<div class="title_div">
  <h1 class="name_announce">Deron Decamp</h1>
  <h2 class="tagline"><span>Information Technology Specialist & Software Engineer</span> </h2>
</div>

<!-- ABOUT ME ----------------------------------------------------------------------->

<div class="about_me">
  <div class="self_photo">
      <img src="assets/img/self.JPG" alt="picture of Deron Decamp">
    </div>
    <div class="self_info">
      <h1>Hi! <span class="highlighted_text">I'm Deron.</span></h1>
      <p>I'm baby church-key marfa glossier cray, vegan vinyl JOMO chillwave single-origin coffee dreamcatcher taxidermy migas pop-up. Lo-fi synth blue bottle 90's cronut hella. Fashion axe cray YOLO, tacos truffaut food truck williamsburg semiotics. Actually pug pickled synth activated charcoal next level.</p>
      <p>Food truck cray flexitarian vexillologist. Hella pinterest tattooed bespoke polaroid fam copper mug. Fixie microdosing williamsburg bitters lomo pinterest meggings. Narwhal typewriter cray viral you probably haven't heard of them bodega boys poutine enamel pin prism actually skateboard authentic tofu. Keffiyeh selvage portland YOLO, glossier etsy health goth. VHS portland woke hell of, vice poke polaroid synth knausgaard XOXO master cleanse kogi etsy lo-fi pitchfork.</p>
    </div>

</div>
<div class="cv_button_wrapper">
  <a href="assets/dl/Deron Decamp's eResume.pdf" download>
    <div class="cv_button">
      <p>Download CV</p>
      <span class="material-symbols-outlined">download_for_offline</span>
    </div>
  </a>
</div>

<div class="sponsors">
  <div class="sponsor">

  </div>
  <div class="sponsor">

  </div>
  <div class="sponsor">

  </div>
</div>
