
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- TITLE DIV ---------------------------------------------------------------------->

<div class="title_div">
  <h1 class="name_announce highlighted_text">Deron Decamp</h1>
  <h2 class="tagline"><span>Information Technology Specialist & Software Engineer</span> </h2>
</div>

<!-- ABOUT ME ----------------------------------------------------------------------->

<div class="about_me">
  <div class="self_photo">
      <img src="assets/img/self.JPG" alt="picture of Deron Decamp">
    </div>
    <div class="self_info">
      <h1>Hi there! <span class="highlighted_text">I'm Deron.</span></h1>
      <br/>
      <p>A guy that loves technology so much that he's become a jack-of-all-trades when it comes to computers! I have years of experience in hardware repair, hardware/software troubleshooting, physical & logical networking, server administration, software engineering with multiple languages, web development, and embedded development with microcontrollers.</p>
      <br>
      <p>This website is a perfect example; written by me using Angular, hosted on servers I built, configured, and secured from scratch, on a network I configured for multiple servers.</p>
      <br>
      <p>Please feel free to look at my professional experience listed on my resume/CV below. Take a look at my <a routerLink="/projects">projects</a> page or my <a href="https://github.com/dyxribo" target="_blank">github</a> as well if you're interested!</p>
    </div>

</div>

<div class="cv_button_wrapper">
  <a href="assets/dl/derons_eresume_directors_cut.pdf" target="_blank">
    <div class="cv_button">
      <span class="material-symbols-outlined">download_for_offline</span>
      <p>Download CV</p>
    </div>
  </a>
</div>


<div class="sponsors">
  <div class="sponsor">

  </div>
  <div class="sponsor">

  </div>
  <div class="sponsor">

  </div>
</div>
